In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import dtale as dt

In [22]:
#Read in the dataframe
df=pd.read_csv('Data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning:

Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.

In [23]:
df

,,POLICY_CODE,PRODUCT_CODE,DOC,EXPIRY_DATE,PRODUCT_TYPE,TERMINATION_EFFECTIVE_DATE,TERM,PREMIUM_AMOUNT,SA,...,MODE_NAME,GENDER,MARITAL_STATUS,EDUCATION,BIRTHDAY,INCOME,SALES_CHANNEL,AGENT_PERSISTENCY,CLAWBACK_COMMISSION,TERMINATION_REASON
0,1,71114958,BMFW-1,1/1/2008,9/9/9999,Risk,6/1/2018,7991,302.39,13439.160,...,GSO,M,Single,Others,8/7/1965,111600.0,Tied,86.41,-114.769811,FINANCIAL
1,2,60928452,BMFW-1,10/1/2006,9/9/9999,Risk,3/1/2019,7992,307.74,22689.950,...,DDE,F,Single,Others,4/1/1973,60396.0,Broker,90.25,-83.140400,NaN
2,3,60826419,BMFW-1,11/1/2006,9/9/9999,Risk,2/1/2015,7992,276.58,15938.480,...,GSO,M,Married,Others,1/1/1955,48108.0,Tied,0.00,0.000000,FINANCIAL
3,4,90222112,BMFW-1,4/1/2009,9/9/9999,Risk,6/1/2015,7990,207.73,11940.525,...,Cash,M,Single,Others,8/14/1978,24000.0,Tied,86.62,-105.602085,NaN
4,5,61248448,BMFW-1,3/1/2007,9/9/9999,Risk,12/1/2014,7992,198.43,12298.740,...,ESO(Electronic),M,Married,Others,3/4/1965,55632.0,Broker,82.86,-30.271900,FINANCIAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681451,681452,5001383314,NaN,8/1/2016,9/9/9999,Risk,4/20/2021,7983,119.00,4000.000,...,Electronic Cash Collection,F,NaN,NaN,9/21/1978,NaN,Tied,0.00,NaN,Death
681452,681453,5001383315,NaN,2/1/2015,9/9/9999,Risk,4/20/2021,7984,69.00,4000.000,...,Electronic Cash Collection,N,NaN,NaN,12/12/1976,NaN,Tied,0.00,NaN,Death
681453,681454,5001383316,NaN,11/1/2016,9/9/9999,Risk,4/20/2021,7982,119.80,4000.000,...,Electronic Cash Collection,F,NaN,NaN,1/1/1965,NaN,Tied,0.00,NaN,Death
681454,681455,5001383317,NaN,10/1/2018,9/9/9999,Risk,4/20/2021,7980,79.90,4000.000,...,Electronic Cash Collection,F,NaN,NaN,12/5/1979,NaN,Tied,0.00,NaN,Death
681455,681456,5001383318,NaN,6/1/2019,9/9/9999,Risk,4/20/2021,7980,79.90,15000.000,...,Electronic Cash Collection,M,NaN,NaN,4/24/1961,NaN,Tied,0.00,NaN,Death

In [24]:
# convert the 'Date' column to datetime format
df['TERMINATION_EFFECTIVE_DATE']= pd.to_datetime(df['TERMINATION_EFFECTIVE_DATE'])
df['BIRTHDAY']= pd.to_datetime(df['BIRTHDAY'])
df['DOC']= pd.to_datetime(df['DOC'])
#df['EXPIRY_DATE']= pd.to_datetime(df['EXPIRY_DATE'])

In [25]:
#Etract the age from  birth year
#soucrce: https://stackoverflow.com/questions/2217488/age-from-birthdate-in-python
from datetime import date

def calculate_age(born):
    #today = date.today()
    twenty20 = date(2020, 12, 30)
    return twenty20.year - born.year - ((twenty20.month, twenty20.day) < (born.month, born.day))

In [26]:
twenty20 = date(2020, 12, 30)
twenty20

datetime.date(2020, 12, 30)

In [27]:
#Calculate the policy age

df['Policy_Age'] = df['DOC'].apply(calculate_age)
df['Policy_holder_Age'] = df['BIRTHDAY'].apply(calculate_age)

In [28]:
df = df[df.columns.difference(['DOC', 'BIRTHDAY','TERMINATION_EFFECTIVE_DATE'])]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681456 entries, 0 to 681455
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0                        681456 non-null  int64
 1   AGENT_PERSISTENCY    681456 non-null  float64
 2   CLAWBACK_COMMISSION  272104 non-null  float64
 3   EDUCATION            301886 non-null  object
 4   EXPIRY_DATE          681456 non-null  object
 5   GENDER               681456 non-null  object
 6   INCOME               499072 non-null  float64
 7   MARITAL_STATUS       499195 non-null  object
 8   MODE_NAME            681456 non-null  object
 9   POLICY_CODE          681456 non-null  int64
 10  PREMIUM_AMOUNT       681395 non-null  float64
 11  PREMIUM_FREQUENCY    681456 non-null  object
 12  PREMIUM_STATUS       681456 non-null  object
 13  PRODUCT_CODE         659606 non-null  object
 14  PRODUCT_TYPE         681456 non-null  object
 15  Policy_Age           681456 non-null  int64
 16  Policy_holder_Age    681456 non-null  int64
 17  SA                   681456 non-null  float64
 18  SALES_CHANNEL        681456 non-null  object
 19  STATUS_NAME          681456 non-null  object
 20  TERM                 681456 non-null  int64
 21  TERMINATION_REASON   292303 non-null  object
dtypes: float64(5), int64(5), object(12)
memory usage: 114.4+ MB

In [30]:
df.STATUS_NAME.unique()

array(['Terminated', 'Lapsed', 'Inforce', 'Waiting for Validate'],
      dtype=object)

In [31]:
df = df[df.STATUS_NAME !='Waiting for Validate']

In [32]:
df.STATUS_NAME.unique()

array(['Terminated', 'Lapsed', 'Inforce'], dtype=object)

In [33]:
df['STATUS_NAME']=df['STATUS_NAME'].map(dict(Lapsed=1, Inforce=0,Terminated=2))

In [34]:
import sweetviz  as sv

In [36]:
#analysis
my_report = sv.analyze(df)
my_report.show_html()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=23.0), HTML(value='')), l…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.